html,
body {
  display: grid;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
}

form {
  width: 330px;
  display: block;
  padding: 10px;
  border: 5px solid lightgray;
}

form label {
  display: grid;
  position: relative;
  margin-top: 10px;
  grid-auto-flow: column;
  background-color: #efefef;
  padding: 10px 10px 25px 10px;
  justify-content: space-between;
}

form input {
  display: inline-block;
  width: 200px;
  height: 20px;
}

input[type="submit"] {
  width: 100%;
  margin-top: 10px;
}

fieldset {
  margin: 10px 0 0;
  padding: 0 0 10px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}